body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
}

main {
    text-align: left;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

input,
select {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"],
select {
    width: 50%;
}

textarea {
    width: 50%;
    height: 50px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.ratings {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

input[type="range"] {
    width: 25%;
}

.recipe-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.recipe-img img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-img input[type="file"],
.recipe-img input[type="submit"] {
    display: none;
}

.recipe-img div {
    display: flex;
    gap: 10px;
}

.recipe-img .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.recipe-img .custom-file-upload:hover {
    background-color: #0056b3;
}

.ingredient-actions {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 10px;
}

.return-link a {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    transition: background 0.3s ease;
}

.return-link a:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 600px) {

    input[type="text"],
    textarea,
    select {
        width: 90%;
    }

    input[type="range"] {
        width: 50%;
    }

    .recipe-img img {
        max-width: 100%;
    }

    .ingredient-table th,
    .ingredient-table td {
        padding: 8px;
        font-size: 14px;
    }
}