<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='public/favicon.ico') }}">
    <title>Recettes</title>
</head>

<body>
    <header>
        <h1>Liste des Recettes</h1>
    </header>

    <main>
        <section class="recipe-container">
            {% for recipe in recipes | sort(attribute='id')%}
            <article class="recipe-box">
                <a href="/{{recipe.id}}" class="recipe-link">
                    <img src="{{ url_for('static', filename='image/') }}{{recipe.image_url}}" alt="{{ recipe.name }}"
                        class="recipe-img">
                    <h3 class="recipe-title">{{ recipe.name }}</h3>
                    <p class="recipe-description">{{ recipe.description }}</p>
                </a>
            </article>
            {% endfor %}
            <article class="recipe-box">
                <a href="/new" class="recipe-link">
                    <img src="{{ url_for('static', filename='image/add.webp') }}" alt="Ajouter" class="recipe-img">
                    <h3 class="recipe-title">Ajouter</h3>
                    <p class="recipe-description">Ajouter une recette</p>
                </a>
            </article>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Recettes - Tous droits réservés</p>
    </footer>
</body>

</html>